*   
    {
        padding: 0;
        margin: 0;
    }

h1
    {
        text-align: center;
        border-top: 5px solid red;
        height: 50px;
        padding: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgb(247, 247, 247);
    }

#row1
    {
        display: flex;
        width: 85%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color:  rgba(187, 61, 61, 0.754);
        /* outline: auto; */
        margin: 0 auto;
        border: 10px solid rgb(247, 247, 247);
    
    }

.imagebox
    {
        /* outline: auto; */
        height: 200px;
        padding: 5px;
        /* background-color: blanchedalmond; */
    
    }

#row2
    {
        display: flex;
        width: 85%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: rgba(185, 35, 35, 0.754);
        /* outline: auto; */
        margin: 0px auto;
        justify-content: space-evenly;
        border: 10px solid rgb(247, 247, 247);    
    }

#row3
    {
        display: flex;
        width: 85%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: rgb(255, 255, 255);
        /* outline: auto; */
        margin: 0px auto;
        justify-content: space-evenly;
        border: 10px solid rgb(247, 247, 247);
    
    }

img
    {
        height: 200px;
    }

p
    {
        text-align: center;
        padding: 8px;
        background-color: rgb(247, 247, 247);
        justify-content: center; */

    }