*{
    padding: 0;
    margin: 0;

}

.row{
    display: flex;
    width: 1000px;
    /* justify-content: space-evenly; */
    background-color: antiquewhite;
    margin: 0 auto;
    
}

.col{
    background-color: lavender;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex: 2;
    padding: 20px;
    margin: 10;
    

}